
header {
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
}

.upperbar {
    display: flex;
    justify-content: center;
    background-color: #0c040c;
    font-size: 25px;
    color: white;
    width: 100%;
    height: 70px;
    align-items: center;
}

.github-link {
    justify-content: center;
    color: beige;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
}

.flag {
    display: flex;
    justify-content: center;
}

.color {
    width: 34%;
    height: 10px;
}

.green {
    background-color: #1b5a10;
}

.black {
    background-color: #0c040c;
}

.red {
    background-color: #6f090f;
}

.home-link {
    color: white;
    text-decoration: none;
}

.home-link-box {
    padding: 20px;
}
