
body {
    overflow: hidden;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
}

.upperbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    font-size: 50px;
    color: white;
    width: 100%;
    height: 150px;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: #333;
    width: 100%;
    height: 120px;
}

.github-link {
    justify-content: center;
    color: beige;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
