body {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 12px;
    background-color: rgba(10, 10, 10, 0.9);
    padding: 50px 0px 50px 0px;
    border-radius: 20px;
    margin-top: 20px;
}

.link {
    height: 120px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(10, 10, 10, 0.9);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}

.github-link {
    font-size: 10px;
}

#new-chat {
    width: 100%;
}

.link:hover {
    transform: scale(1.1);
}

.link-small {
    width: 48%;
}

.home {
    margin: -100px 20% 1000px 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.small-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-buttons {
    display: flex;
    justify-content: center;
}

.about-text {
    padding: 0px 50px 0px 50px;
}

