

body {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.link {
    height: 300px;
    width: 500px;
    border-radius: 20px;
    margin: 100px;
    color: white;
    font-size: 30px;
    background-color: #333;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.link:hover {
    transform: scale(1.2);
}

