<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat_tab.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_tab.css') }}">
</head>
<body>
    <header>
        <div class="upperbar">
            Chat<b style="color: green; margin-left: 10px;">A</b><b style="color: black">G</b><b style="color: red">H</b>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <a class="github-link" href="https://github.com/witek3100/chatAGH">
            <img src="{{ url_for('static', filename='assets/github_icon.png') }}" alt="github-repo" class="icon">
            <span style="margin-top: 20px;">ChatAGH github repository</span>
        </a>
    </footer>
</body>
</html>