{% extends "base.html" %}

{% block title %}
<title>Chat</title>
{% endblock %}

{% block style %}
@media (max-width: 900px) {
    .main {
        background-image: url({{url_for('static', filename='assets/logo.png')}});
        background-size: 100% auto;
        background-position: center;
    }
}
{% endblock %}

{% block content %}
<div class="main">
    <div id="chat-container">
        <div id="chat-messages-box">
            <div id="chat-messages">
                {% for message in chat.history %}
                    <div class="message-box">
                        {% if message.agent == 'bot' %}
                            <img src="{{ url_for('static', filename='assets/bot_icon.png') }}" alt="bot-icon" class="icon icon-bot">
                        {% elif message.agent == 'human' %}
                            <img src="{{ url_for('static', filename='assets/user_icon.png') }}" alt="user-icon" class="icon icon-user">
                        {% endif %}
                        <div class="message">
                            <div class="text">
                                {{ message.content_html|safe }}
                            </div>
                            {% if message.source %}
                            <div class="urls">
                                {% for url in message.source %}
                                    <a href="{{ url }}">{{ url }}</a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="chat-input-container">
        <form id="chat-form" onsubmit="return checkInput()">
            <textarea id="question-input" name="message" class="chat-input" placeholder="O co chcesz zapytać?"></textarea>
            <button id="send-button" type="submit" class="send-button">Zapytaj</button>
        </form>
    </div>

</div>

<div class="overlay" id="overlay">
    <div class="modal">
        <p>Proszę wpisać pytanie przed wysłaniem!</p>
        <button class="popup-button" onclick="hideModal()">Rozumiem</button>
    </div>
</div>


<script>
    const inputBox = document.getElementById("question-input");
    const sendButton = document.getElementById("send-button");
    const chatBox = document.getElementById("chat-container")
    const chatMessages = document.getElementById("chat-messages")
    const chatId = '{{ chat.id }}'

    chatBox.scrollTop = chatBox.scrollHeight;

    inputBox.addEventListener("keyup", (event) => {
        if (event.key === "Enter" && event.key !== "Shift" && checkInput()) {
            ask();
        }
    });

    sendButton.addEventListener("click", (event) => {
        if (checkInput()) {
            ask();
        }
    });

    function checkInput() {
        var input = document.getElementById('question-input').value.trim();
        if (input === "") {
            showModal();
            return false;
        }
        return true;
    }

    function showModal() {
        document.getElementById('overlay').style.display = 'block';
    }

    function hideModal() {
        document.getElementById('overlay').style.display = 'none';
    }

    document.getElementById('overlay').addEventListener('click', function() {
        hideModal();
    });

    </script>
    
{% endblock %}
