{% extends "base.html" %}

{% block title %}
<title>Chat AGH home</title>
{% endblock %}

{% block content %}
    <div class="home">
        <div class="buttons">
            <div class="chat-button">
                <a class="link" id="new-chat" href="new_chat">
                    Nowy czat
                </a>
            </div>
            <div class="small-buttons">
                <a class="link link-small" id="login" href="login">
                    Logowanie
                </a>
                <a class="link link-small" id="signup" href="signup">
                    Rejestracja
                </a>
            </div>
        </div>
        <div class="about">
            <h1>O projekcie</h1>
            <div class="about-text">
                ChatAGH jest chatbotem AI bazującym na GPT4 i wykorzystującym RAG (retrieval augmented generation) w celu połączenia z źródłami wiedzy, jakim są regulaminy, uchwały czy zawartości stron internetowych związanych z AGH (pełna lista dostępna <a href="sources-list" style="color: green;">tutaj</a>). Celem projektu jest stworzenie użytecznego narzędzia dla społeczności akademickiej na Akademi Górnoczo Hutniczej pozwalającego na szybki dostęp do informacji bez konieczności klasycznego wyszukiwania.
            </div>
            <a class="github-link" href="https://github.com/witek3100/chatAGH">
                <img src="{{ url_for('static', filename='assets/github_icon.png') }}" alt="github-repo" class="icon">
                <span style="margin-top: 18px; margin-left: 10px;">ChatAGH github</span>
            </a>
        </div>
    </div>
{% endblock %}