{% extends "base.html" %}

{% block title %}
<title>Chat AGH home</title>
{% endblock %}

{% block content %}
    <div class="buttons">
        <a class="link" id="new-chat" href="new_chat">
            NEW CHAT
        </a>
        <a class="link" id="login" href="login">
            LOGIN
        </a>
    </div>
    <div class="about">
        <h1>About project</h1>
        <div>
            Aim of chatAGH is to provide information and support to students and staff of AGH University of Science and Technology.
        </div>
    </div>
{% endblock %}