{% extends 'base.html' %}

{% block style %}

{% endblock %}

{% block content %}
<div class="about">

    Zródłem informacji dla chatbota jest zawartość stron internetowych zescrapowanych z następujących domen związanych z AGH:
    <div style="display: flex; flex-direction: column">
        <a href="https://www.agh.edu.pl">https://www.agh.edu.pl</a>
        <a href="https://rekrutacja.agh.edu.pl">https://rekrutacja.agh.edu.pl</a>
        <a href="https://www.eaiib.agh.edu.pl">https://www.eaiib.agh.edu.pl</a>
        <a href="https://www.sjo.agh.edu.pl">https://www.sjo.agh.edu.pl</a>
        <a href="https://www.swfis.agh.edu.pl">https://www.swfis.agh.edu.pl</a>
        <a href="https://sylabusy.agh.edu.pl">https://sylabusy.agh.edu.pl</a>
        <a href="https://skn.agh.edu.pl">https://skn.agh.edu.pl</a>
        <a href="https://dss.agh.edu.pl">https://dss.agh.edu.pl</a>
        <a href="https://akademik.agh.edu.pl">https://akademik.agh.edu.pl</a>
        <a href="https://www.miasteczko.agh.edu.pl">https://www.miasteczko.agh.edu.pl</a>
     </div>
</div>

{% endblock %}