{% extends 'base.html' %}

{% block style %}

{% endblock %}

{% block content %}
<div class="about">

    Zródłem informacji dla chatbota w głównym stopniu jest zawartość stron internetowych związanych z AGH, poniżej lista domen których strony zostały wykorzystane:
    <div style="display: flex; flex-direction: column">
        <a href="https://www.agh.edu.pl">https://www.agh.edu.pl</a>
        <a href="https://rekrutacja.agh.edu.pl">https://rekrutacja.agh.edu.pl</a>
        <a href="https://www.eaiib.agh.edu.pl">https://www.eaiib.agh.edu.pl</a>
        <a href="https://www.wggios.agh.edu.pl">https://www.wggios.agh.edu.pl</a>
        <a href="https://www.metal.agh.edu.pl">https://www.metal.agh.edu.pl</a>
        <a href="https://imir.agh.edu.pl">https://imir.agh.edu.pl</a>
        <a href="https://odlewnictwo.agh.edu.pl">https://odlewnictwo.agh.edu.pl</a>
        <a href="https://wilgz.agh.edu.pl">https://wilgz.agh.edu.pl</a>
        <a href="https://www.ceramika.agh.edu.pl">https://www.ceramika.agh.edu.pl</a>
        <a href="https://wnig.agh.edu.pl">https://wnig.agh.edu.pl</a>
        <a href="http://www.ftj.agh.edu.pl">http://www.ftj.agh.edu.pl</a>
        <a href="https://www.wms.agh.edu.pl">https://www.wms.agh.edu.pl</a>
        <a href="https://www.zarz.agh.edu.pl">https://www.zarz.agh.edu.pl</a>
        <a href="https://weip.agh.edu.pl">https://weip.agh.edu.pl</a>
        <a href="https://iet.agh.edu.pl">https://iet.agh.edu.pl</a>
        <a href="https://wh.agh.edu.pl">https://wh.agh.edu.pl</a>
        <a href="https://www.sjo.agh.edu.pl">https://www.sjo.agh.edu.pl</a>
        <a href="https://www.swfis.agh.edu.pl">https://www.swfis.agh.edu.pl</a>
        <a href="https://sylabusy.agh.edu.pl">https://sylabusy.agh.edu.pl</a>
        <a href="https://skn.agh.edu.pl">https://skn.agh.edu.pl</a>
        <a href="https://dss.agh.edu.pl">https://dss.agh.edu.pl</a>
        <a href="https://akademik.agh.edu.pl">https://akademik.agh.edu.pl</a>
        <a href="https://www.miasteczko.agh.edu.pl">https://www.miasteczko.agh.edu.pl</a>
     </div>
</div>

{% endblock %}